.container {
  height: 100%;
}

.header {
  height: 10%;
  display: flex;
  vertical-align: flex-start;
  background-color: #0a224b;
}

.logo {
  max-height: 340px;
  max-width: 640px;
  height: auto;
  width: auto;
}

.body-container {
  min-height: 90%;
  background-color: #f2e8dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.form {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  margin: auto;
}

.icons-wrapper {
  display: flex;
  align-items: flex-end;
  margin: auto;
}

.checkboxes-wrapper {
  display: flex;
  margin: auto;
}

.send-button {
  width: 70%;
  background-image: linear-gradient(to right, red, #0a224b);
  border: none;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  margin: 10% 2px 3% 2px;
  cursor: pointer;
  border-radius: 3%;
}

.finalprices-container {
  margin: 'auto 0';
  font-size: '20px';
}

.final-price {
  color: #52b202;
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}
.max-width-margin {
  margin: auto auto auto auto;
}

.flex-start {
  width: 100%;
  display: flex;
  margin: auto;
}

.discountinputs-container {
  display: flex;
  width: 60%;
  margin: auto auto 2% auto;
  justify-content: center;
}

.icon-add {
  margin-left: 10px;
}

.quantity-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.articlename-wrapper {
  width: 70%;
}
